<p>Lets's Create a new song</p>

<form [formGroup]="songFormGroup" class="song">

  <mat-form-field>
    <input matInput type="text" placeholder="Title" formControlName="title" required>
    <mat-hint align="end">The title of the song</mat-hint>
    <mat-error *ngIf="songFormGroup.controls.title.hasError('required')">Title is required</mat-error>
  </mat-form-field>

<!--  <mat-form-field>
    <mat-select placeholder="Genre" formControlName="genre">
      <mat-option [value]="null">Unknown</mat-option>
      <mat-option value="a">Jazz</mat-option>
      <mat-option value="c">Rock</mat-option>
    </mat-select>
    <mat-hint align="end">The genre of the song</mat-hint>
  </mat-form-field>-->

  <mat-form-field>
    <mat-select placeholder="Genre" formControlName="genre">
      <mat-option [value]="genre.key" *ngFor="let genre of genreService.genreNames | keyvalue">{{genre.value}}</mat-option>
    </mat-select>
    <mat-hint align="end">The genre of the song</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Album" formControlName="album">
    <mat-hint align="end">The album of the song</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Track Nr." formControlName="track_number">
    <mat-hint align="end">Track Number</mat-hint>
  </mat-form-field>

<!--  <mat-form-field>
    <input matInput type="date" placeholder="Release Date" formControlName="release_date">
    <mat-hint align="end">Song Release Date</mat-hint>
  </mat-form-field>-->
  <app-date placeholder="Release date" formControlName="release_date" hint="The release date of the song" [required]="true"></app-date>

  <mat-form-field>
    <input matInput type="number" placeholder="Song Duration" formControlName="duration">
    <mat-hint align="end">Song Duration</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Lyrics" formControlName="lyric">
      <mat-option [value]="null">Unknown</mat-option>
      <mat-option [value]="lyricOption.id" *ngFor="let lyricOption of lyricOptions">{{lyricOption.lyrictext}}</mat-option>
    </mat-select>
    <mat-hint align="end">The Lyrics of the song</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Actors</mat-label>
    <mat-select formControlName="interpret" multiple>
      <mat-option *ngFor="let artist of artistOptions" [value]="artist.id">{{artist.last_name}}</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!songFormGroup.valid" (click)="createSong()">
      <span *ngIf="!songFormGroup.controls.id.value">Create</span>
      <span *ngIf="songFormGroup.controls.id.value">Update</span>
    </button>
  </mat-card-actions>
</form>


<!--<form [formGroup] = "songFormGroup">
  <label>
    Title:
    <input type="text" formControlName="title"/>
  </label>
  <br/>
  <label>
    Genre:
    <select formControlName="genre">
      <option [value]="null">Unbekannt</option>
      <option value="a">Jazz</option>
      <option value="c">Rock</option>
    </select>
  </label>
  <br/>
  <label>
    Album:
    <input type="text" formControlName="album"/>
  </label>
  <br/>
  <label>
    Track Number
    <input type="number" formControlName="track_number"/>
  </label>
  <br/>
  <label>
    Release Date:
    <input type="date" formControlName="release_date"/>
  </label>
  <br/>
  <label>
    Duration:
    <input type="number" formControlName="duration"/>
  </label>
  <br/>
  <button type="button" (click)="createSong()">Create</button>
</form>-->
